<!-- app/views/lists/show.html.erb -->

<div class="container mt-4">
  <h1 class="display-4"><%= @list.name %></h1>
  <h2 class="mt-4">Movies in this List</h2>

  <ul>
    <% @movies.each do |movie| %>
      <li><%= movie.title %></li>
    <% end %>
  </ul>

  <%= link_to 'Back to Lists', lists_path, class: 'btn btn-secondary' %>
</div>
